@mixin choice ($font-size, $color){
  padding: 13px 44px;
  background-color: map-get( $page-colors, button );
  color: $color;
  border: none;
  font-weight: bold;
  font-size: $font-size;
  cursor: pointer;
}

@mixin rule {
  margin: 10px;
  font-size: 17px;
  padding: 5px;
  font-weight: bold;
  color: map-get($page-colors, light )
}

@mixin badge {
  background-color: map-get($page-colors, danger);
  font-size: 16px;
  padding: 3px;
  position: absolute;
}

@mixin choice {
  border: 4px solid map-get($page-colors, light );
  margin: 0 15px;
  border-radius: 50%;
  padding: 10px;
  transition: all 0.3s;
  &:hover {
    background-color: map-get($page-colors, success );
    cursor: pointer;
  }
}