$page-colors: (
        warning: #cda11b,
        danger: #bf2938,
        success: #228538,
        primary: #0c2e5a,
        secondary: #48494a,
        info: #ff006f,
        light: #f1f2f3,
        dark: #31363b
);