
a {
    text-decoration:none;
}

p{
    margin:0;
}

body {
    background: #5f2c82; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ccc , #aaa); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ccc , #aaa); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Lato';
    color:white;
    text-shadow: 1px 1px 4px #000
}

h1 {
    padding-top:25px;
    color: #333;
    text-shadow: 1px 1px 3px #eee;
}
.centered {
    margin: 0 auto;
    text-align:center;
}

.calc-card {
    top:20px;
    position:relative;
    width: 350px;
    padding: 15px 0;
    padding-top:20px;
    margin: 0 auto;
    background: #0315A1;;
    border-radius:20px;
    -moz-box-shadow:inset 0 0 12px #FFF,
    inset 0px 1px #E6E6E6, 0 1px 1px #323643,
    inset 0px 1px #7b839b, 0 2px 5px rgba(0,0,0,.5);
    -webkit-box-shadow:inset 0 0 12px #FFF,
    inset 0px 1px #E6E6E6, 0 1px 1px #323643,
    inset 0px 1px #7b839b, 0 2px 5px rgba(0,0,0,.5);
    box-shadow:inset 0 0 12px #FFF,
    inset 0px 1px #E6E6E6, 0 1px 1px #323643,
    inset 0px 1px #7b839b, 0 2px 5px rgba(0,0,0,.5);
}

.screen{
    width:85%;
    height:54px;
    line-height:54px;
    margin: 0 auto;
    position: relative;
    padding-right:9px;
    background:white;
    text-align:right;
    text-shadow:none;
    border-radius:6px;
    border:1px solid #6B6B6B;
    font-size:26px;
    color:#111;
    -moz-box-shadow:inset 0 0 10px #333,
    inset 0 1px 1px #0A0B0D, 0px 1px #E6E6E6;
    -webkit-box-shadow:inset 0 0 10px #333,
    inset 0 1px 1px #0A0B0D, 0px 1px #E6E6E6;
    box-shadow:inset 0 0 10px #333,
    inset 0 1px 1px #0A0B0D, 0px 1px #E6E6E6;
}
.screen:focus{
    outline:none;
}
.buttons{
    width:340px;
    margin:12px;
    margin:0 auto;
    margin-top:20px;
}
button{
    width:65px;
    height:45px;
    padding:0;
    outline:none;
    margin:0px 0px 10px 5px;
    border:1px solid #333;
    border-radius:6px;
    color:#fefefe;
    font:24px "Lato", Arial, Helvetica, sans-serif;
    line-height: 45px;
    -moz-box-shadow:inset 0 0 10px #666,
    inset 0px 1px #BCD6FF, 0 1px 1px #323643;
    -webkit-box-shadow:inset 0 0 10px #666,
    inset 0px 1px #BCD6FF, 0 1px 1px #323643;
    box-shadow:inset 0 0 10px #555,
    inset 0px 1px #BCD6FF, 0 1px 1px #222;
    background:#222;
    transition: all 1s ease;
}
button:active {
    color:#FFF;
    outline:none;
    border:1px solid #333;
    -moz-box-shadow:inset 0 1px 1px #0A0B0D, 0px 1px #E6E6E6;
    -webkit-box-shadow:inset 0 1px 1px #000, 0px 1px #E6E6E6;
    box-shadow:inset 0 1px 1px #000, 0px 1px #E6E6E6;
}
#clear{

    left: 28px;
    top: 6px;
    background-color:#222;
}
#clear:active{
    border:1px solid #444;
    -moz-box-shadow:inset 0 1px 1px #0A0B0D, 0px 1px #E6E6E6;
    -webkit-box-shadow:inset 0 1px 1px #0A0B0D, 0px 1px #E6E6E6;
    box-shadow:inset 0 1px 1px #0A0B0D, 0px 1px #E6E6E6;
}
#equal{
    width:65px;
    background-color: #036;
    border:1px solid #036;
    -moz-box-shadow:inset 0 0 10px #069,
    inset 0px 1px #BCD6FF, 0 1px 1px #323643;
    -webkit-box-shadow:inset 0 0 10px #069,
    inset 0px 1px #BCD6FF, 0 1px 1px #323643;
    box-shadow:inset 0 0 10px #069,
    inset 0px 1px #BCD6FF, 0 1px 1px #323643;
}
#equal:active{
    border:1px solid #039;
    -moz-box-shadow:inset 0 1px 1px #0A0B0D, 0px 1px #E6E6E6;
    -webkit-box-shadow:inset 0 1px 1px #0A0B0D, 0px 1px #E6E6E6;
    box-shadow:inset 0 1px 1px #0A0B0D, 0px 1px #E6E6E6;
}
#minus, #plus, #divide, #multiply{
    background-color: #777;
    border:1px solid #666;
    -moz-box-shadow:inset 0 0 10px #aaa,
    inset 0px 1px #999, 0 1px 1px #aaa;
    -webkit-box-shadow:inset 0 0 10px #aaa,
    inset 0px 1px #999, 0 1px 1px #aaa;
    box-shadow:inset 0 0 10px #aaa,
    inset 0px 1px #999, 0 1px 1px #aaa;
}
#minus:active, #plus:active, #divide:active, #multiply:active{
    border:1px solid #555;
    -moz-box-shadow:inset 0 1px 1px #0A0B0D, 0px 1px #E6E6E6;
    -webkit-box-shadow:inset 0 1px 1px #0A0B0D, 0px 1px #E6E6E6;
    box-shadow:inset 0 1px 1px #0A0B0D, 0px 1px #E6E6E6;
}