body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  background: #f4f4f4;
}

.home {
  max-width: 1260px;
  height: 100%;
  background: #f4f4f4;
  margin: 0 auto;
}

.flexContainers{
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  margin-top: 20px;
  background: white;
  position: relative;
}

.container{
  flex-wrap: wrap;
  width: 50%;
  height: 350px;
  overflow: hidden;
}

.home .flexContainers .container:nth-child(1){
  background-color: #76cdd8;
  color: white;
  text-align: center;
}

.epam{
  padding-top: 70px;
  font-size: 50px;
}
.text1{
  margin-left: auto;
  margin-right: auto;
  width: 22em;
  color: #666666;
  padding-top: 75px;
  font-size: 20px;
}
.logoCont3{
  margin-left: auto;
  margin-right: auto;
  width: 19em;
  color: #76cdd8;
  font-size: 25px;
}
.p{
  margin-left: 75px;
  width: 20em;
}
.button{
  background: #019999;
  color: white;
  border: none;
  padding: 15px 25px;
  cursor: pointer;
  text-transform: uppercase;
  margin-left: 400px;
}

.img1{
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin-left: 230px;
  margin-top: 50px;
  object-fit: cover;
}

.epicGame{
  text-align: center;
  color: white;
  font-size: 15px;
}

.img2{
  width: 100%;
  height: 100%;
}

.logoCont6{
  color: #666666;
  margin-left: auto;
  margin-right: auto;
  width: 18em;
  padding-top: 50px;
  font-size: 25px;
}

.p2{
  margin-left: 90px;
  /*width: 20em;*/
}
.link{
  text-decoration: none;
}
.button2{
  background: #019999;
  color: white;
  border: none;
  padding: 15px 25px;
  cursor: pointer;
  text-transform: uppercase;
  margin-left: 260px;
}

.home .flexContainers .container:nth-child(4){
  background-color: #76cdd8;
}

.flexContainers2{
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  margin-top: 20px;
  background: white;
}

.container2{
  flex-wrap: wrap;
  width: 65%;
  height: 450px;

}

.container2 h2{
  color:#76cdd8 ;
  margin-left: 80px;
}

.container2 p{
  margin-left: 80px;
  margin-right: auto;
  width: 38em;
}
.button3{
  background: #019999;
  color: white;
  border: none;
  padding: 20px 30px;
  cursor: pointer;
  text-transform: uppercase;
  margin-left: 550px;
}


.container3{
  flex-wrap: wrap;
  width: 35%;
  height: 450px;
}


.img3{
  width: 100%;
  height: 100%;
}

.flexContainers3{
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  margin-top: 20px;
  background: white;
}
.container4{
  width: 35%;
  height: 450px;
  flex-wrap: wrap;
}
.img4{
  width: 100%;
  height: 100%;
}

.container5{
  width: 65%;
  height: 100%;
  flex-wrap: wrap;
  display: flex;
}

.img2:hover{
  transform: scale(1.5);
  transition: transform .5s ease;
}
.block1{
  width: 300px;
  height: 400px;
  margin-left: 75px;
  margin-top: 25px;
  border: solid;
  border-color: #019999;
}
.top{
  width: 100%;
  height: 100px;
  background: #019999;
}

.p3{
  text-align: center;
  font-size: 25px;
  margin-top: 0;
  padding-top: 10px;

}
.p4{
  text-align: center;

}
.bottom{
  width: 100%;
  height: 300px;

}

.button4{
  background: #019999;
  color: white;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  text-transform: uppercase;
  margin-left: 40px;
  margin-top: 10px;
}

.bottom li{
  /*text-align: center;*/
  color: #666666;
  padding-top: 5px;
  list-style-type: none;
}

.flexContainers4{
  max-width: 1260px;
  margin: 0 auto
}
.lastLogo{
  background: #23d4d4;
  margin-top: 20px;
  position: relative;
  padding-bottom: 100px;
}
.lastLogo p{
  padding-top: 20px;
  padding-left: 150px;
  font-size:25px;
  color: white;
}

.form-wrap {
  padding: 0 14%;
  background: #f4f4f4;

}

.form-wrap>.center {
  background: white;
  padding: 25px;
  margin-top: -85px;
  position: relative;
  margin-bottom: -73px;
}




.lorem{
  width: 100%;
  height: 220px;
  background: #019999;
  flex-wrap: wrap;
  display: flex;

  padding-top: 100px;
}

.left{
  width: 50%;
  height: 100%;
  background: #019999;
}
.left li{
  color: white;
  padding-top: 0;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  width: 11em

}
#position {
  width: 230px;
  padding: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  resize: vertical;
  background:#f1f1f1;
  color: #666666;
}
#salary{
  margin-top: 20px;
  width: 230px;
  padding: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  resize: vertical;
  background:#f1f1f1;
  color: #666666;
}

#comment{
  width: 300px;
  height: 200px;
}

input[type=text], input[type=password] {
  width: 200px;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: flex;
  flex-direction:column;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

input, select, textarea {
  padding: 15px;
  font-size: 18px;
  color: #666666
}
input, textarea {
  border: 1px solid #ced4da;
  margin-top: 15px;
}
select {
  border: 1px solid #767676;
}
textarea:focus-visible {
  border-color: #24d4d4;
  box-shadow: 0 0 0 0.2rem #24d4d4;
  outline: none !important;
}


.right{
  width: 50%;
  height: 100%;
  background: #019999;
}
.right li{
  color: white;
  padding-top: 0;
  list-style-type: none;
  font-weight: normal;
}

.end{
  text-align: center;
  margin: 0;
  padding: 15px;
}
.hidden{
  display:none;
}

.hidden span{
  color: black;
}

.flexContainers:nth-child(1) .container:nth-child(1):hover::after,
.flexContainers:nth-child(1) .container:nth-child(2):hover::after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 0px 0px 50px;
  border-color: #76cdd8 transparent transparent transparent!important;
}

.flexContainers:nth-child(1) .container:nth-child(1)::before, .flexContainers:nth-child(1) .container:nth-child(1)::after,
.flexContainers:nth-child(1) .container:nth-child(2)::before, .flexContainers:nth-child(1) .container:nth-child(2)::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border-color: transparent;
  border-style: solid;
}