﻿* {
  outline: none;
}

body {
  font-family: 'Ubuntu', sans-serif;

}
.backPhoto{
  background: url("../img/header-bg.jpg")no-repeat;
  background-size: cover;
  height: 500px;
}

.logoText{
  padding-top: 20px;
  margin-right: 110px;
}

.bigLogo{
  font-size: 50px;
  padding-top: 70px
}
.smallLogo{
  font-size: 25px;
}

.bigLogo2{
  font-size: 50px;
  padding-top: 10px
}
.smallLogo2{
  font-size: 25px;

}
.smallLogo3{
  font-size: 25px;
  padding-top: 30px;
}
.hr{
  width: 50px;
  margin: 0 auto;
  border-top: 3px solid grey;
  padding-bottom: 50px;
}

.imgs3{
  margin-left: 75px;
}

.names{
  font-size: 30px
}
.textNames{
text-align: left;
}

.btn-deep-purple {
  color: #fff;
  background-image: linear-gradient(to top, #5f3f7a 0%, #4a50a8 51%);
  text-transform: uppercase;
  padding: 1rem 4rem;
  border-radius: 40px;
  margin: 50px 0;
}

.masonry-grid > div .thumbnail {
  margin: 40px 0;
}
.masonry-column img {
  width: 100%;
}
.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
}


.carousel-bg {

  margin-top: 40px;
  margin-bottom: 40px;
}
/* quote */
.quote-image {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  padding-top: 60px;
  width: 80px;
}
/* text-style */
.testimonial-style .testimonial-caption-style {
  font-weight: 400;
  font-size: 24px;
  color: #354052;
  line-height: 30px;
  bottom: 40%;
  text-shadow: none;
  top: 10%;
}
.testimonial-style .testimonial-authors {
  font-weight: 700;
  font-size: 20px;
  color: #354052;
  line-height: 30px;
  margin-top: 40px;
}

.carousel-inner{
  background: url("../img/references-image-bg.png") no-repeat;
  background-size: 20%;
  background-position: left bottom 15px;
}
.testimonial-style .carousel-inner > .item {
  height: 380px;
}
/* carousel-left-right-control */
.testimonial-style .carousel-control.left {
  background: none;
  box-shadow: none;
  text-shadow: none;
}
.testimonial-style .carousel-control.right {
  background: none;
  box-shadow: none;
  text-shadow: none;
}
.testimonial-style .carousel-control {
  color: #354052;
}
.testimonial-style .carousel-control:hover {
  color: #354052;
  text-decoration: none;
  transition: background-color 1s ease;
}
/* indicators */
.testimonial-style .carousel-indicators .active {
  background-color: #c0b4c5;
  border: 2px solid #c0b4c5;
  width: 16px;
  height: 16px;
  transition: background 1s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.testimonial-style .carousel-indicators li {
  border: 2px solid #62436f;
  background-color: #62436f;
  border-radius: 50%;
  width: 16px;
  height: 16px;

}

.testimonial-image .workPhoto {
  width: 80%;
  margin-left: 20px;
  margin-top: 70px;
}

.text{
  font-size: 40px;
}

.testimonial-image img {
  width: 100%;
  margin-left: 20px;
}

.testimonial-style .carousel-caption {
  text-align: left;
  position: static;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.testimonial-style .carousel-control.left {
  background: url("../img/slider-prev-arrow.png");
  box-shadow: none;
  text-shadow: none;
  width: 28px;
  height: 67px;
  display: block;
  position: absolute;
  left: -60px;
  top: 50%;
}
.testimonial-style .carousel-control.right {
  background: url("../img/slider-next-arrow.png");
  box-shadow: none;
  text-shadow: none;
  width: 28px;
  height: 67px;
  display: block;
  position: absolute;
  right: -60px;
  top: 50%;
}

.doublePhoto{
  background-image: url("../img/references-image-bg.png");
  width: 100px;
  margin-left: 100px;
}
.form{
  margin-top: 50px;
  outline: none;
  border: none;
}

.button{
  width: 50px;
  height: 25px;
  border-radius: 0;
}

.formBack{
  background: black;
  padding: 25px 0 50px;
}

.footerBack{
  background: url("../img/footer-bg.jpg")no-repeat;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
}
.logPhoto2{
  margin-top: 25px;
}


.bg-white {
  padding: 50px 0;
}

.bg-white h2 {
  margin: 0 auto;
  text-align: center;
}

.bg-white h3 {
  margin: 0 auto;
  text-align: center;
}

.form-control.text-white {
  background: transparent;
  border-left: none;
  border-right: none;
  border-top: none;
}

.icon img {
  padding-right: 15px;
}
.lastP{
  font-size: 10px;
  margin-left: 50px;
}

.logotips img{
  margin-left: 15px;
}