:root {
  --primary-color: #f2c744;
  --light: #f4f6f9;
  --dark: #000;
  --primary-font: 'Shadows Into Light', cursive;
  --secondary-font: 'Dancing Script', cursive;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0fr 3fr 0fr;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas:
  "header header header"
  "body body right"
  "footer footer footer";
  background: #f4f6f9;

}

.header { grid-area: 1 / 1 / 2 / 4; }

.body { grid-area: 2 / 1 / 3 / 3; }

.footer { grid-area: 3 / 1 / 4 / 4; }

.right { grid-area: 2 / 3 / 2 / 3; }

.header{
  background: #f4f6f9;
  width: 100%;
  height: 215px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
  padding: 10px;
}

.body{
  display: flex;
  flex-wrap: wrap;
  background:#f4f6f9;
  box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}
.right{
  background: #f4f6f9 ;
  box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
  padding: 10px;
  text-align: center;
}
.footer{
  background: #f4f6f9;
  width: 100%;
  height: 200px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
  padding: 10px;
}
.imgs{
  width: 250px;
  height: 300px;
  margin: 10px;
  object-fit: cover;
  border-radius: 10px;
}
.firstFoto{
  width: 150px;
  height: 100px;
  display: block;
  margin: 0 auto;
}
.firstParagraph{
  text-align: center;
}

.right a svg{
  width: 30px;
  height: 30px;
  /*display: block;*/


}

.secondFoto{
  width: 200px;
  height: 200px;
  border-radius: 100px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}
.lastFoto{
  width: 100px;
  height: 60px;
  display: block;
  margin: 0 auto;
}
.logo{
  text-align: center;
}
.logo2{
  text-align: center;
}

.imgs1{
  width: 200px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  margin: 10px;
}
.imgs2{
  width: 325px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin: 10px;
}

.imgs3{
  width: 275px;
  object-fit: cover;
  border-radius: 10px;
  margin: 10px;
  height: 350px;
}
.imgs4{
  width: 325px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin: 10px;
}

@media (max-width:812px) {
  .container {
    grid-template-areas:
    "header header header"
    "main main main"
    "sidebar sidebar sidebar"
    "footer footer footer";
  }
  .secondFoto {
    width: 100px;
    height: 100px;
  }
  .right {
    width: 143px;
  }
}

@media (min-width:812px) and (max-width:1366px) {
  .container {
    grid-template-columns: 0.2fr 1fr 1fr;
    grid-template-rows: 0fr 3fr 0fr;
  }

}

